<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="eagle">
			<section name="htmlProvider" type="Eagle.Web.HtmlProviderConfigSection, StaticPage" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<eagle>
		<htmlProvider compress="true" type="Eagle.Web.FileHtmlProvider, StaticPage"/>
	</eagle>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authentication mode="Windows"/>
		<pages>
			<controls>
				<add tagPrefix="html" assembly="StaticPage" namespace="Eagle.Web.UI"/>
			</controls>
		</pages>
    <httpHandlers>
      <add verb="GET" path="*.xhtml" type="Eagle.Web.HtmlHandler, StaticPage"/>
    </httpHandlers>
	</system.web>
</configuration>
