<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="eagle">
      <section name="htmlProvider" type="Eagle.Web.HtmlProviderConfigSection, StaticPage" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <eagle>
    <htmlProvider type="Eagle.Web.FileHtmlProvider, StaticPage"/>
  </eagle>
</configuration>
